{% extends "base.html.twig" %}
{% block body %}
    <a class="btn btn-secondary btn text-center" href="{{ path("index") }}" role="button">Retour à l'accueil</a>
    {{ form_start(form) }}
    <div class="d-flex justify-content-center mt-5">
    <div class="card">
        <div class="card-body text-center">
            <h5 class="card-title">Creer un planning</h5>
            <h6 class="card-subtitle mb-2 text-muted">Nom de l'évènement</h6>
            <p class="card-text">{{ form_widget(form.event) }}</p>
            <h6 class="card-subtitle mb-2 text-muted">Description</h6>
            <p class="card-text">{{ form_widget(form.description|raw) }}</p>
            <h6 class="card-subtitle mb-2 text-muted">Etat du planning</h6>
            <p class="card-text">{{ form_widget(form.etat) }}</p>
            <div class="d-flex justify-content-center mt-5">
                <button type="button" name="__planning__" class="btn btn-primary">Ajouter une date</button>
                <ul class="date ml-5" data-prototype="{{ form_row(form.journees.vars.prototype.date)|e('html_attr') }}{{ form_row(form.journees.vars.prototype.dureeHeure)|e('html_attr') }}{{ form_row(form.journees.vars.prototype.dureeMinute)|e('html_attr') }}{{ form_row(form.journees.vars.prototype.nombrePersonnes)|e('html_attr') }}" data-prototype-h="{{ form_row(form.journees.vars.prototype.heures.vars.prototype)|e('html_attr') }}">
                </ul>
            </div>
            {{ form_row(form.save) }}
        </div>
    </div>
</div>

    {{ form_end(form) }}
{% endblock %}
    {% block javascripts %}
       {{ parent() }}
        <script type="text/javascript" src="{{ asset('src/gestion-planning.js') }}"></script>
{% endblock %}