{% extends "base.html.twig" %}
{% block body %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <a class="btn btn-secondary btn text-center m-2" href="{{ path("index") }}" role="button">Retour à l'accueil</a>
    {{ form_start(form) }}
        <div class="text-center">
                <h5 class="card-title text-primary">Creer un planning</h5>
                    <div class="d-flex justify-content-around">
                        <div>
                            <h6 class="card-subtitle mb-2 text-muted">Nom de l'évènement</h6>
                            <p class="card-text">{{ form_widget(form.event) }}</p>
                        </div>
                        <div>
                            <h6 class="card-subtitle mb-2 text-muted">Etat du planning</h6>
                            <p class="card-text">{{ form_widget(form.etat) }}</p>
                        </div>
                    </div>
            <h6 class="card-subtitle mb-2 mt-5 text-muted">Description</h6>
            <div class="d-flex justify-content-center">
                <p class="card-text mb-5 w-75">{{ form_widget(form.description|raw) }}</p>
            </div>
             {{ form_row(form.save) }}
        </div>
    {{ form_end(form) }}
{% endblock %}
    {% block javascripts %}
       {{ parent() }}
        <script type="text/javascript" src="{{ asset('src/gestion-planning.js') }}"></script>
{% endblock %}