{% extends "base.html.twig" %}
{% block body %}
    <div class="container-fluid mt-5">
        <div class="row text-center">
            <div class="col-3">
                <a class="btn btn-secondary btn text-center" href="{{ path("planningListe") }}" role="button">Retour à la liste</a>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="col-3">
                    <a class="btn-success btn" href="{{ path("planningInsertion", {slug: planning.id}) }}" role="button">Insérer une date</a>
                </div>
                <div class="col-3">
                    <a class="btn-warning btn" href="{{ path("planningModification", {slug: planning.id}) }}" role="button">Modifier</a>
                </div>
                <div class="col-3">
                    <a class="btn-danger btn" href="{{ path("planningSuppression", {slug: planning.id}) }}" role="button">Supprimer</a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="card">
            <div class="card-header">
                <h2 class="text-muted"> Planning | {{ planning.event|upper }} </h2>
            </div>
        <div class="row row-cols-1 row-cols-md-4">
            {% for list in planning.journees|sort((a, b) => a.date <=> b.date) %}
            {% set journee = loop.index0 %}
            {% for heure in list.heures %}
                <div class="card-group">
                    <div class="card-body d-flex flex-column align-items-center">
                        <h5 class="card-title text-muted">{{ list.date|format_date(locale="fr") }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ heure.plageHoraire|format_time("short", locale="fr") }} - {{ heure.plageHoraire|date_modify("+" ~ list.dureeHeure ~ " Hours " ~ list.dureeMinute ~ " min")|format_time("short", locale="fr") }}</h6>
                        <p class="card-text">
                            <h6 class="text-muted">Participants : </h6>
                            {% for user in heure.users %}
                                <p>{{ user.nomComplet }}</p>
                            {% endfor %}
                        </p>
                        <div class="mt-auto">
                            {% set loops = loop.index0 %}
                            <div id="loop">
                    {% if heure.users is not empty %}
                        {% set userInscrit = false %}
                        {% for user in heure.users %}
                            {% if app.user.nomComplet is same as (user.nomComplet) %}
                                <a class="btn-warning btn" href="{{ path("planningDesinscription", {slug: planning.id, journee: journee, heure: loops }) }}" role="button">Se désinscrire</a>
                                {% set userInscrit = true %}
                            {% endif %}
                        {% endfor %}
                        {% if heure.users|length == list.nombrePersonnes %}
                            <button class="btn-success btn" disabled>Complet !</button>
                        {% endif %}
                        {% if userInscrit == false %}
                            <a class="btn-info btn" href="{{ path("planningInscription", {slug: planning.id, journee: journee, heure: loops }) }}" role="button">S'inscrire</a>
                        {% endif %}
                    {% else %}
                        <a class="btn-info btn" href="{{ path("planningInscription", {slug: planning.id, journee: journee, heure: loops }) }}" role="button">S'inscrire</a>
                    {% endif %}
                        </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% endfor %}
        </div>
            <div class="card-footer"></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}