{% extends "base.html.twig" %}
{% block body %}
    <a class="btn btn-secondary btn text-center" href="{{ path("index") }}" role="button">Retour à l'accueil</a>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3">
            {% for list in planning|sort((a, b) => a.debut <=> b.debut)|reverse %}
            <div class="card-group">
                    <div class="card-body d-flex flex-column align-items-center">
                        {% if list.debut is not null %}
                        <h5 class="card-title text-muted text-center">{{ list.debut|format_date("long",locale="fr") }} - {{ list.event|upper }}</h5>
                        {% else %}
                        <h5 class="card-title text-muted text-center">{{ list.event|upper }}</h5>
                            {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            {% if list.etat is same as(true) %}
                                <p class="text-success">Publié</p>
                            {% else %}
                                <p class="text-danger">Brouillon</p>
                            {% endif %}
                        {% endif %}
                        <p class="card-text">{{list.description|raw}}</p>
                        {% if is_granted('ROLE_ADMIN') or list.etat is same as(true) %}
                            <div class="mt-auto">
                                <a href="{{ path("planningInfo", {slug: list.id }) }}"><button class="btn-info btn mt-auto align-items-center">Inscription</button></a>
                            </div>
                        {% else %}
                            <div class="mt-auto">
                                <button class="btn-success btn mt-auto align-items-center" disabled>Bientôt disponible</button>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

