{% extends "base.html.twig" %}
{% block body %}
    <a class="btn btn-secondary btn text-center" href="{{ path("index") }}" role="button">Retour à l'accueil</a>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3">
            {% for list in planning|sort((a, b) => a.debut <=> b.debut)|reverse %}
            <div class="card-group">
                    <div class="card-body d-flex flex-column align-items-center">
                        <h5 class="card-title text-muted text-center">{{ list.debut|format_date("long",locale="fr") }} - {{ list.event|upper }}</h5>
                        <p class="card-text">{{list.description|raw}}</p>
                        <div class="mt-auto ">
                            <a href="{{ path("planningInfo", {slug: list.debut|date("d-m-Y") }) }}"><button class="btn-info btn mt-auto align-items-center ">Inscription</button></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

