{% extends "base.html.twig" %}
{% block body %}
    <a class="btn btn-secondary btn text-center" href="{{ path("index") }}" role="button">Retour à l'accueil</a>
    {% for list in tableau|sort((a, b) => a.annee <=> b.annee)|reverse %}
        <a href="{{ path("tableauInfo", {tableau: list.id }) }}"><button class="btn-info btn">{{ list.annee|date("Y") }} - {{ list.classeur|upper }}</button></a>
    {% endfor %}
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}