{% extends "base.html.twig" %}
{% block body %}
    <a class="btn btn-secondary btn text-center" href="{{ path("tableauInfo", {tableau: tableau }) }}" role="button">Retour au tableau</a>
{{ form_start(form) }}
    <div class="d-flex justify-content-center mt-5">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title">Creer un tableau</h5>
                <h6 class="card-subtitle mb-2 text-muted">Nom du tableau</h6>
                <p class="card-text">{{ form_widget(form.classeur) }}</p>
                <h6 class="card-subtitle mb-2 text-muted">Année du tableau</h6>
                <p class="card-text">{{ form_widget(form.annee.year) }}</p>
                {{ form_row(form.save) }}
            </div>
        </div>
    </div>
    {{ form_widget(form.annee.day,{'attr': { 'style': 'display:none' }}) }}
    {{form_widget(form.annee.month,{'attr': { 'style': 'display:none' }}) }}
    {{form_widget(form.tableauLignes,{'attr': { 'style': 'display:none' }}) }}
{{ form_end(form) }}
{% endblock %}
