{% extends "base.html.twig" %}
{% block body %}
    <a class="btn btn-secondary btn text-center" href="{{ path("tableauInfo", {tableau: tableau }) }}" role="button">Retour au tableau</a>
{{ form_start(form) }}
    {{ form_row(form.classeur) }}
    {{ form_row(form.annee.year) }}
    {{ form_widget(form.annee.day,{'attr': { 'style': 'display:none' }}) }}
    {{form_widget(form.annee.month,{'attr': { 'style': 'display:none' }}) }}
    {{form_widget(form.tableauLignes,{'attr': { 'style': 'display:none' }}) }}
{{ form_row(form.save) }}
{{ form_end(form) }}
{% endblock %}
