{% extends "base.html.twig" %}
{% block body %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <a class="btn btn-secondary m-3 text-center" href="{{ path("tableauInfo", {tableau: tableau }) }}" role="button">Retour au tableau</a>
{{ form_start(form) }}
    <div class="d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title text-primary">Modifier le tableau</h5>
                <h6 class="card-subtitle mb-2 text-muted">Nom du tableau</h6>
                <p class="card-text">{{ form_widget(form.classeur) }}</p>
                <h6 class="card-subtitle mb-2 text-muted">Année du tableau</h6>
                <p class="card-text">{{ form_widget(form.annee.year) }}</p>
            </div>
            <button class="btn btn-warning" type="submit" id="planning_save" name="planning[save]">Valider</button>
        </div>
    </div>
    {{ form_widget(form.annee.day,{'attr': { 'style': 'display:none' }}) }}
    {{form_widget(form.annee.month,{'attr': { 'style': 'display:none' }}) }}
    {{form_widget(form.tableauLignes,{'attr': { 'style': 'display:none' }}) }}
{{ form_end(form) }}
{% endblock %}
