{% extends "base.html.twig" %}
{% block body %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <a class="btn btn-secondary m-3 text-center" href="{{ path("tableauInfo", {tableau: tableau }) }}" role="button">Retour au tableau</a>
    {{ form_start(form) }}
    <div class="d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title text-primary">Inserer une ligne</h5>
                <h6 class="card-subtitle text-muted">Nom complet</h6>
                <p class="card-text">{{ form_widget(form.nom) }}</p>
                <h6 class="card-subtitle text-muted">Nombre de paiement</h6>
                <p class="card-text">{{ form_widget(form.paiementXFois) }}</p>
                <h6 class="card-subtitle text-muted">Inscription payée</h6>
                <p class="card-text">{{ form_widget(form.payee) }}</p>
            </div>
            <button class="btn btn-success" type="submit" id="tableauLigne_save" name="tableauLigne[save]">Ajouter</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}