{% extends "base.html.twig" %}
{% block body %}
    <a class="btn btn-secondary btn text-center" href="{{ path("tableauLigneInfo", {tableau: tableau, ligne: ligne }) }}" role="button">Retour à la ligne</a>
{{ form_start(form) }}
    {{form_widget(form.tableauPaiements,{'attr': { 'style': 'display:none' }}) }}
{{ form_row(form) }}
    <button class="btn btn-secondary" type="submit" id="tableauLigne_save" name="tableauLigne[save]">Modifier</button>
{{ form_end(form) }}
{% endblock %}