{% extends "base.html.twig" %}
{% block body %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <a class="btn btn-secondary m-3 text-center" href="{{ path("tableauLigneInfo", {tableau: tableau, ligne: ligne }) }}" role="button">Retour à la ligne</a>
{{ form_start(form) }}
    {{form_widget(form.tableauPaiements,{'attr': { 'style': 'display:none' }}) }}
    <div class="d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title text-primary">Modifier la ligne</h5>
                <h6 class="card-subtitle text-muted">Nom complet</h6>
                <p class="card-text">{{ form_widget(form.nom) }}</p>
                <h6 class="card-subtitle text-muted">Nombre de paiement</h6>
                <p class="card-text">{{ form_widget(form.paiementXFois) }}</p>
                <h6 class="card-subtitle text-muted">Inscription payée</h6>
                <p class="card-text">{{ form_widget(form.payee) }}</p>
            </div>
            <button class="btn btn-warning" type="submit" id="tableauLigne_save" name="tableauLigne[save]">Modifier</button>
        </div>
    </div>
{{ form_end(form) }}
{% endblock %}