{% extends "base.html.twig" %}
{% block body %}
    <div class="container mt-5">
        <div class="row text-center">
            <div class="col-4"></div>
            <div class="col-4">
                <a class="btn btn-secondary btn text-center" href="{{ path("planningListe") }}" role="button">Retour à la liste</a>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2> Planning du {{ planning.event|upper }} </h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                {% for list in planning.journees|sort((a, b) => a.date <=> b.date) %}
                                    <table>
                                        <tr>
                                            <td>Date : {{ list.date|format_date(locale="fr") }}</td>
                                        </tr>
                                        {% for heure in list.heures %}
                                        <tr>
                                            <th>Participants :</th>
                                            <td>{{ heure.noms }}</td>
                                            <th>Horaires :</th>
                                                <td>
                                                    <button class="btn-info btn">{{ heure.plageHoraire|format_time("short", locale="fr") }} - {{ heure.plageHoraire|date_modify("+" ~ list.dureeHeure ~ " Hours " ~ list.dureeMinute ~ " min")|format_time("short", locale="fr") }}</button>
                                                </td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}