{% extends "base.html.twig" %}
{% block body %}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-12">
                <table class="table table-striped table-dark" id="table" >
                    <thead>
                    <tr>
                        <th class="w-30" scope="col" data-sortable="true">Nom</th>
                        <th class="w-30" scope="col" data-sortable="true">E-mail</th>
                        <th class="w-20" scope="col" data-sortable="true">Type de compte</th>
                        <th class="w-20" scope="col" ></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> {{ user.nomComplet }} </td>
                            <td> {{ user.email }} </td>
                            <td> {{ user.role|replace({'ROLE_USER': 'Bénévole', 'ROLE_ADMIN': 'Administrateur'}) }} </td>
                            <td>
                                <div class="btn-group dropright">
                                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-cogs"></i> Actions
                                    </button>
                                    <div class="dropdown-menu dropright">
                                        <a class="dropdown-item p-3" href="{{ path("userToken") }}"><i class="fas fa-key"></i> Changer mot de passe</a>
                                        <a class="dropdown-item p-3" href="{{ path("userModification") }}"><i class="fas fa-edit"></i> Modifier mon compte</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
{% endblock %}