{% extends "base.html.twig" %}
{% block body %}
    <a class="btn btn-secondary m-3 text-center" href="{{ path("index") }}" role="button"><i class="fas fa-arrow-left"></i> Retour à l'accueil</a>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="text-muted">Utilisateurs</h2>
            <table class="table table-striped table-dark" id="table" data-toggle="table" data-search="true" >
                <thead>
                <tr>
                    <th class="w-5" scope="col" data-sortable="true">#</th>
                    <th class="w-30" scope="col" data-sortable="true">Noms</th>
                    <th class="w-20" scope="col" data-sortable="true">Type de compte</th>
                    <th class="w-20" scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for list in users|sort((a, b) => a.id <=> b.id)|reverse %}
                    <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td> {{ list.nomComplet }} </td>
                        <td> {{ list.role|replace({'ROLE_USER': 'Bénévole', 'ROLE_ADMIN': 'Administrateur'}) }} </td>
                        <td>
                            <div class="btn-group dropright" style="overflow: visible">
                                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-cogs"></i> Actions
                                </button>
                                <div class="dropdown-menu dropright">
                                    {% if is_granted('ROLE_ADMIN') and list.email is not same as(app.user.email)%}
                                        <a class="dropdown-item p-3" href="{{ path("userExist") }}"><i class="fas fa-key"></i> Changer de mot de passe</a>
                                    {% else %}
                                        <a class="dropdown-item p-3" href="{{ path("adminToken",{slug: list.email}) }}"><i class="fas fa-key"></i> Changer mot de passe</a>
                                    {% endif %}
                                    <a class="dropdown-item p-3" href="{{ path("userModificationAdmin",{slug: list.id}) }}"><i class="fas fa-edit"></i> Modifier le compte</a>
                                    {% if is_granted('ROLE_ADMIN') and list.email is not same as(app.user.email) %}
                                        <a class="dropdown-item p-3" href="{{ path("userSuppression",{slug: list.id}) }}"><i class="fas fa-minus"></i> Supprimer le compte</a>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
{% endblock %}
