{% extends "base.html.twig" %}
{% block body %}
    <a class="btn btn-secondary btn text-center" href="{{ path("index") }}" role="button">Retour à l'accueil</a>
    {{ form_start(form) }}
    <div class="d-flex justify-content-center mt-5">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title">Creer un utilisateur</h5>
                <h6 class="card-subtitle mb-2 text-muted">Nom Complet</h6>
                <p class="card-text">{{ form_widget(form.nomComplet) }}</p>
                <h6 class="card-subtitle mb-2 text-muted">Email</h6>
                <p class="card-text">{{ form_widget(form.email) }}</p>
                <h6 class="card-subtitle mb-2 text-muted">Type de compte</h6>
                <p class="card-text">{{ form_widget(form.role) }}</p>
                <button class="btn btn-success">Enrengistrer</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}